<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Insurance Premium Predictor System</title>
</head>
<body>
<h1>Insurance Premium Predictor System</h1>
<form method="post" action="/predict">
    <label>Enter the age of customer</label><br>
        <input type="text" name="age"><br><br>
    <label>Enter the gender of customer</label><br>
        <input type="text" name="sex"><br><br>
    <label>Enter the region of customer</label><br>
        <input type="text" name="region"><br><br>
    <label>Enter the children of customer</label><br>
        <input type="text" name="children"><br><br>
    <label>Enter the BMI of customer</label><br>
        <input type="text" name="BMI"><br><br>
    <label>Enter customer smoker or not</label><br>
        <input type="text" name="smoker"><br><br>
    <input type="submit" value="Predict"><br><br>
</form>

</body>
</html>